header {
    background-image: url("../img/banner1.png");
    background-size: cover;
    background-position: left;
    height: 140vh;
    padding: 1rem 1rem;
    .logo {
        width: 40%;
        img {
            width: 100%;
        }
    }
    .texto-header {
        width: 100%;
        padding: 5rem 0;
        font-size: 1.3rem;
        h1 {
            font-family: 'Montserrat bold';
            line-height: 1;
        }
    }
    .form-contact form input, textarea{
        width: 100%;
        border: 0;
        border-bottom: 1px solid $azul;
        border-radius: 1rem;
    }
    .form-contact {
        background-color: rgba($color: #fff, $alpha: .6);
        padding: 2rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}
@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1300px) {}

