header {
    background-image: url("../img/banner1.png");
    background-size: cover;
    background-position: left;
    height: 140vh;
    padding: 1rem 1rem;
    .logo {
        width: 40%;
        img {
            width: 100%;
        }
    }
    .texto-header {
        width: 100%;
        padding: 5rem 0;
        h1 {
            font-family: 'Montserrat bold';
            line-height: 1;
        }
    }
    .form-contact form input, textarea{
        width: 100%;
        border: 0;
        border-bottom: 1px solid $azul;
        border-radius: 1rem;
    }
    .form-contact {
        background-color: rgba($color: #fff, $alpha: .6);
        padding: 2rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        button {
            background-color: $azul;
            color: #fff;
            padding: .2rem;
            border-radius: 0.5rem;
            width: 100%;
            margin: .5rem 0 0 0;
            font-family: $tipografia;
            font-size: 1rem;
        }
    }
}
@media only screen and (min-width: 768px) {
    header {
        .texto-header {
            h1 {
                font-size: 2.9rem;
                margin: 0 6rem;
            }
        }
        .form-contact {
            margin: 6rem;
        }
    }
}

@media only screen and (min-width: 992px) {
    header {
        height: 140vh;
        .logo {
            width: 15%;
        }
        .wrapper {
            padding: 3rem 0 0 0;
            display: flex;
            .texto-header {
                width: 60%;
                margin: 0;
            }
            .form-contact {
                margin: 0 2rem 0 0;
                width: 40%;
            }
        }
    }
}

@media only screen and (min-width: 1300px) {}

